.navbar-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  width: 200px !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  position: absolute;
  top: 70px;
  left: 50px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}
