* {
  margin: 0;
}

.tree-wrapper {
  background-image: url(/static/media/tree.13154989.png);
  background-repeat: round;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 285px;
  left: 60%;
}
